<body class= 'home'>
    <div class= 'gradient-bg'>
      <h1>WorldFab, Inc.</h1>
      <h2>CUSTOM MANUFACTURING WITH UNPARALLELED QUALITY</h2>
    </div>

    <br />


      <%= link_to 'Job List', jobs_path %>
      <br />
      <%= link_to 'Customer List', customers_path %>





</body>





