html {
    height: 100%;
}

body {
   height: 100%;
   background-color: SlateGray;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(SlateGray), to(WhiteSmoke));
   background-image: -webkit-linear-gradient(bottom, SlateGray, WhiteSmoke);
   background-image:    -moz-linear-gradient(bottom, SlateGray, WhiteSmoke);
   background-image:     -ms-linear-gradient(bottom, SlateGray, WhiteSmoke);
   background-image:      -o-linear-gradient(bottom, SlateGray, WhiteSmoke);
   text-align: center;
  color: White;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

ul.sublist {
list-style-type: none;
}

ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  text-decoration: none;
  color: White;
  &:visited {
    color: White; }
  &:hover {
   padding: 2px 2px 2px 2px;
   color: WhiteSmoke;
   background-color: SlateGray;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(RoyalBlue), to(SkyBlue));
   background-image: -webkit-linear-gradient(top, RoyalBlue, SkyBlue);
   background-image:    -moz-linear-gradient(top, RoyalBlue, SkyBlue);
   background-image:     -ms-linear-gradient(top, RoyalBlue, SkyBlue);
   background-image:      -o-linear-gradient(top, RoyalBlue, SkyBlue);
   text-align: center;
    -webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 3px; /* FF1-3.6 */
         border-radius: 3px; } }

div {
  &.field, &.actions {
    color: MidnightBlue;
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }


div.gradient-bg {
   background-color: SlateGray;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(MidnightBlue), to(SteelBlue));
   background-image: -webkit-linear-gradient(top, MidnightBlue, SteelBlue);
   background-image:    -moz-linear-gradient(top, MidnightBlue, SteelBlue);
   background-image:     -ms-linear-gradient(top, MidnightBlue, SteelBlue);
   background-image:      -o-linear-gradient(top, MidnightBlue, SteelBlue);
   text-align: center;
    -webkit-border-radius: 18px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 18px; /* FF1-3.6 */
         border-radius: 18px;
}

h1 {
    padding: 30px 15px 30px 15px;
    font-size: 36px;
    color: White;
}

tr.odd {
   background-color: SlateGray;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(LightBlue), to(LightSteelBlue));
   background-image: -webkit-linear-gradient(top, LightBlue, LightSteelBlue);
   background-image:    -moz-linear-gradient(top, LightBlue, LightSteelBlue);
   background-image:     -ms-linear-gradient(top, LightBlue, LightSteelBlue);
   background-image:      -o-linear-gradient(top, LightBlue, LightSteelBlue);
   text-align: center;
   color: SteelBlue;
    -webkit-border-radius: 18px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 18px; /* FF1-3.6 */
         border-radius: 18px;
}

tr.even{
   background-color: SlateGray;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(RoyalBlue), to(SkyBlue));
   background-image: -webkit-linear-gradient(top, RoyalBlue, SkyBlue);
   background-image:    -moz-linear-gradient(top, RoyalBlue, SkyBlue);
   background-image:     -ms-linear-gradient(top, RoyalBlue, SkyBlue);
   background-image:      -o-linear-gradient(top, RoyalBlue, SkyBlue);
   text-align: center;
   color: White;
    -webkit-border-radius: 18px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 18px; /* FF1-3.6 */
         border-radius: 18px;
}


table {
    margin-left: 10%;
    margin-right: 90%;
    width: 80%;
    border-collapse: collapse;
}

tr.clear td {
    color: Black;
    background-color: transparent !important;
    background-image: none !important;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    line-height: 0px;
}

th.clear {
    color: #000000;
    background-color: transparent;
    background-image: none;
}

tr.headings {
   background-color: transparent;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(RoyalBlue), to(DarkBlue));
   background-image: -webkit-linear-gradient(top, RoyalBlue, DarkBlue);
   background-image:    -moz-linear-gradient(top, RoyalBlue, DarkBlue);
   background-image:     -ms-linear-gradient(top, RoyalBlue, DarkBlue);
   background-image:      -o-linear-gradient(top, RoyalBlue, DarkBlue);
   text-align: center;
   color: PowderBlue;
    -webkit-border-radius: 18px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 18px; /* FF1-3.6 */
         border-radius: 18px;
}

p, b {
    color: MidnightBlue;
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th.asc {
  background-image: url(/images/up_arrow.gif);
}

th.desc {
  background-image: url(/images/down_arrow.gif);
}

.class1 A:link {
color: White;
}

.class1 A:visited {
color: White;
}
.class1 A:active {
color: White;
}

.class1 A:hover {
color: White;
}

tr.odd#sortable {
  position: inherit;
   background-color: SlateGray;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(LightBlue), to(LightSteelBlue));
   background-image: -webkit-linear-gradient(top, LightBlue, LightSteelBlue);
   background-image:    -moz-linear-gradient(top, LightBlue, LightSteelBlue);
   background-image:     -ms-linear-gradient(top, LightBlue, LightSteelBlue);
   background-image:      -o-linear-gradient(top, LightBlue, LightSteelBlue);
   text-align: center;
   color: SteelBlue;
    -webkit-border-radius: 18px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 18px; /* FF1-3.6 */
         border-radius: 18px;
}

tr.even#sortable{
  position: inherit;
   background-color: SlateGray;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(RoyalBlue), to(SkyBlue));
   background-image: -webkit-linear-gradient(top, RoyalBlue, SkyBlue);
   background-image:    -moz-linear-gradient(top, RoyalBlue, SkyBlue);
   background-image:     -ms-linear-gradient(top, RoyalBlue, SkyBlue);
   background-image:      -o-linear-gradient(top, RoyalBlue, SkyBlue);
   text-align: center;
   color: White;
    -webkit-border-radius: 18px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 18px; /* FF1-3.6 */
         border-radius: 18px;
}

tr.child {
   background-color: transparent;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(RoyalBlue), to(DarkBlue));
   background-image: -webkit-linear-gradient(top, RoyalBlue, DarkBlue);
   background-image:    -moz-linear-gradient(top, RoyalBlue, DarkBlue);
   background-image:     -ms-linear-gradient(top, RoyalBlue, DarkBlue);
   background-image:      -o-linear-gradient(top, RoyalBlue, DarkBlue);
   text-align: center;
   color: PowderBlue;
    -webkit-border-radius: 18px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
    -moz-border-radius: 18px; /* FF1-3.6 */
         border-radius: 18px;
}